---
import { profile } from '../data/site';
const initials = profile.name
  .split(' ')
  .map((w) => w[0])
  .join('')
  .toLowerCase();
---

<nav class="nav">
  <div class="nav-inner">
    <a class="nav-brand" href="/">{initials}<span class="blink">_</span></a>
    <div class="nav-links">
      <a href="/#about">about</a>
      <a href="/#work">work</a>
      <a href="/#projects">projects</a>
      <a href="/blog">blog</a>
    </div>
  </div>
</nav>
